.home {
  position: sticky;
  height: 1920px;
  width: 1920px;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #522d97;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(136,41,197);
  background: linear-gradient(0deg, rgba(136,41,197,1) 0%, rgba(83,78,207,1) 100%);
  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: #fcfcfc;
  height: 50px;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.about .prompt {
  height: 300px;
  width: 40%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  height: 10px;
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #522d97;
}

.skills .list {
  height: 100%;
  top: 100px;
  list-style: none;
  width: 60%;
}

.list span {
  height: 200px;
  top: 500px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    height: 200px;
    font-size: 40px;
  }

  .about .prompt {
    height: 200px;
    bottom: 100px;
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    height: 200px;
    text-align: center;
  }
  .list {
    height: 200px;
    padding: 0;
  }

  .skills h2 {
    top: 100px;
    font-size: 30px;
  }
}